<!-- Fondo con imagen -->
<img src="../../assets/ITSE-PANAMA.jpg" alt="Fondo ITSE" class="fondo" />

<div class="container">
   <!-- HEADER -->
  <app-header></app-header>

  <!-- Enlace con texto y flecha a la izquierda -->
  <div class="enlace-busqueda">
    <a routerLink="/">
      <i class="fas fa-arrow-left"></i> <span>Busqueda de los salones</span>
    </a>
  </div>

  <!-- Contenedor de preguntas -->
  <div class="contenedor-preguntas">
    <div class="pregunta">
      <strong>¿Cómo funciona el buscador de salones?</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor enim eget gravida. Suspendisse fringilla leo ut bibendum congue. Nullam tempor tincidunt augue a rutrum. Quisque gravida dignissim viverra. Sed hendrerit sapien at fermentum dictum. Vestibulum tincidunt nunc ante, nec bibendum ante facilisis sit amet. Maecenas vitae bibendum ipsum, ut dapibus enim. Phasellus venenatis lectus tempus nulla ultrices, et tincidunt ex auctor. Curabitur aliquet nulla eleifend scelerisque viverra. Quisque lacinia dolor et venenatis hendrerit. Quisque ligula nisi, ultricies et pharetra sed, rutrum quis mauris. Duis nec urna imperdiet, luctus nulla ut, congue sapien.</p>
    </div>
    <div class="pregunta">
      <strong>¿Pregunta importante?</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor enim eget gravida. Suspendisse fringilla leo ut bibendum congue. Nullam tempor tincidunt augue a rutrum. Quisque gravida dignissim viverra. Sed hendrerit sapien at fermentum dictum. Vestibulum tincidunt nunc ante, nec bibendum ante facilisis sit amet. Maecenas vitae bibendum ipsum, ut dapibus enim. Phasellus venenatis lectus tempus nulla ultrices, et tincidunt ex auctor. Curabitur aliquet nulla eleifend scelerisque viverra. Quisque lacinia dolor et venenatis hendrerit. Quisque ligula nisi, ultricies et pharetra sed, rutrum quis mauris. Duis nec urna imperdiet, luctus nulla ut, congue sapien.</p>
    </div>
  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
