<!-- Fondo con imagen -->
<img src="../../assets/ITSE-PANAMA.jpg" alt="Fondo ITSE" class="fondo" />

<div class="container">
  <!-- HEADER -->
  <app-header></app-header>

  <!-- MAIN -->
  <main style="flex: 1">
    <div class="login-card">
      <h2 class="login-title">BIENVENIDO,<br/> INGRESE SU NOMBRE </h2>
      <label for="name">Nombre:</label>
      <input type="text" id="name" placeholder="Ingrese su nombre" />

      <button class="login-btn">Comenzar tu recorrido</button>

    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
